.axiosPage {

  .reacorListTable {
    background: #fff;

    :global(.ant-table-scroll) {
      text-align: center;
      tr {
        text-align: center;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
    }
  }
}
